﻿ <!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/fonts.css" rel="stylesheet" />
    <link href="~/Content/screen.css" rel="stylesheet" />
    <link href="~/Content/UserLayout/UserLayout.css" rel="stylesheet" />
    <link href="~/Content/web_fonts_with_css/css/fontawesome.css" rel="stylesheet" />
    <link href="~/Content/web_fonts_with_css/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/nivo-slider.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.nivo.slider.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <section class="blank">
        <div class="flash">
            <div id="icDienthoai"><i class="fas fa-phone-square"></i>Liên hệ: 01672139983</div>

            <div id="divDangkyDangnhap">
                <i class="fa fa-user-plus"></i>
                @Html.ActionLink("Đăng ký", "Dang_ky", null, htmlAttributes: new { @class = "DangKy" })
                <i class="fa fa-sign-in"></i>
                @Html.ActionLink("Đăng nhập", "Dang_nhap", null, htmlAttributes: new { @class = "DangNhap" })
            </div>
        </div>
        <div class="flash success">
            <div id="divTimKiem">
                @using (Html.BeginForm())
                {
                    @Html.TextBox("txtTimkiem","",htmlAttributes:new {@class = "TimKiem", @placeholder = "Nhập vào từ  khóa"})
                    <button type="submit">Tìm Kiếm</button>
                    
                }
            </div>
            <div id="divMenu">
                <ul>
                    <li><a href="#"><font color ="white">Trang chủ</font></a></li>
                    <li><a href="#"><font color="white">Giới thiệu</font></a></li>
                    <li><a href="#"><font color="white">Hướng dẫn</font></a></li>
                    <li><a href="#"><font color="white">Cửa hàng</font></a></li>
                    <li><a href="#"><font color="white">Liên hệ</font></a></li>
                </ul>
            </div>
            <div style="clear:both"></div>
        </div>
    </section>

    <section>
        <div id="divNivo">
            <div id="slider" class="nivoSlider">
                <img src="~/Images/1.jpg" />
                <img src="~/Images/2.jpg" />
                <img src="~/Images/3.jpg" />
                <img src="~/Images/4.jpg" />
            </div>
            <div style="clear:both"></div>
        </div>
        <div id="divSanphammoi">
            <div class="activity">
                <h1 class="item-header">Sản phẩm mới</h1>
                <div class="activity-list-update">
                    <img src="~/Images/21850680_1859600547687054_1352935646_n.jpg" />
                    <p>Dây chuyền trái tim</p>
                    <div class="clear"></div>
                </div>
                <div class="activity-list-update">
                    <img src="~/Images/20729227_1350884188342496_137751453745889825_n.jpg" />
                    <p>Lắc tay cánh thiên thần</a></p>
                    <div class="clear"></div>
                </div>
                <div class="activity-list-update">

                    <img src="~/Images/41-den-2.jpg" />
                    <p>Lắc tay cỏ bốn lá</a></p>
                    <div class="clear"></div>
                </div>
                <a href="#" class="item-footer green">
                    Xem thêm...
                </a>
            </div>
           
        </div>

        <div>
            <a href="#" class="button button-buy"><b>trang sức bạc hoàng anh - uy tín tạo thương hiệu</b></a>
        </div>

    </section>





    <section class="blank">
        <table style="width:100%">
            <tr>
                <td>
                    <div class="item-featured">
                        <img src="~/Images/cp_5.jpg" />
                        <div class="item-info">
                            <h1>Nhẫn đôi</h1>
                            <p>
                                Nhẫn đôi đính đá sang trọng.
                            </p>
                            <a href="#" class="button button-buy">Mua ngay</a>
                        </div>
                        <br class="clear">
                    </div>
                </td>
           
                <td>
                    <div class="item-featured">

                        <img src="~/Images/cp_6.jpg" />
                        <div class="item-info">
                            <h1>Lắc tay tai thỏ</h1>
                            <p>
                                Lắc tay bạc ta nguyên chất, dễ thương.
                                <br>
                            </p>
                            <a href="#" class="button button-buy">Mua ngay</a>
                        </div>
                        <br class="clear">
                    </div>
                </td>
            </tr>
            <tr><td></td></tr>
            
            <tr><td></td></tr>

            <tr>
                <td>
                    <div class="item-featured">

                        <img src="~/Images/cp_9.jpg" />
                        <div class="item-info">
                            <h1>Dây chuyền trái tim</h1>
                            <p>
                                Trái tim – biểu tượng của tình yêu, 

                            </p>
                            <a href="#" class="button button-buy">Mua ngay</a>
                        </div>
                        <br class="clear">
                    </div>
                </td>
                
                <td>
                    <div class="item-featured">

                        <img src="~/Images/cp_8.jpg" />
                        <div class="item-info">
                            <h1>Dây chuyền tim lồng</h1>
                            <p>
                                Sang trọng, tinh tế và đầy ý nghĩa.
                            </p>
                            <a href="#" class="button button-buy">Mua ngay</a>
                        </div>
                        <br class="clear">
                    </div>
                </td>
            </tr>
        </table>
    </section>
    <script type="text/javascript" src="scripts/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="../jquery.nivo.slider.js"></script>
    <script type="text/javascript">
        $(window).load(function () {
            $('#slider').nivoSlider();
        });
    </script>

</body>
</html>
