﻿#icDienthoai{
    float:left;
    margin-top : -1%;
}

#divDangkyDangnhap{
    float:right;
    margin-top : -1%;
}

#divDangkyDangnhap a:hover{
    color: green;
    text-decoration: none;

}

#divMenu {
    float:right;
}

#divMenu li{
    display: inline;
    border-right: solid 1px rgba(0,0,0,.1);
    padding: 16px;
    -webkit-animation: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
}

#divMenu li:hover{
    background-color: rgba(0,0,0,.5);
    
    -webkit-animation: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
}

#divMenu a:hover{
    text-decoration:none; 
}

#divTimKiem{
    float:left;
    margin-top: -1%;
    margin-left: 5%;
}

.TimKiem{
    width: 300px;
}

#divSanphammoi{
    float:left;
}

#divNivo{
    float:right;
    width: 800px;
    height: 300px;
}

#item{
    height: 500px;
}